SERVICES=inventory,order,payment
INVENTORY_MONGO_DATABASE=inventory
INVENTORY_MONGO_USER=inventory_root
INVENTORY_MONGO_PASSWORD=change_me
INVENTORY_GRPC_PORT=50052
ORDER_POSTGRES_DATABASE=order_service
ORDER_POSTGRES_USER=order_service_user
ORDER_POSTGRES_PASSWORD=change_me
ORDER_GRPC_PORT=50051
ORDER_HTTP_PORT=8080
PAYMENT_GRPC_PORT=50053
LOGGER_LEVEL=info
LOGGER_AS_JSON=true
