KAFKA_BROKERS=kafka:9092
ORDER_PAID_TOPIC=order.paid
SHIP_ASSEMBLED_TOPIC=ship.assembled
ORDER_PAID_GROUP_ID=assembly-service
ASSEMBLY_DURATION=10s
LOGGER_LEVEL=${LOGGER_LEVEL}
LOGGER_AS_JSON=${LOGGER_AS_JSON}
