POSTGRES_NAME=${AUTH_POSTGRES_DATABASE}
POSTGRES_USER=${AUTH_POSTGRES_USER}
POSTGRES_PASSWORD=${AUTH_POSTGRES_PASSWORD}
REDIS_PASSWORD=${AUTH_REDIS_PASSWORD}
SESSION_TTL=24h
GRPC_PORT=${AUTH_GRPC_PORT}
HTTP_PORT=${AUTH_HTTP_PORT}
LOGGER_LEVEL=${LOGGER_LEVEL}
LOGGER_AS_JSON=${LOGGER_AS_JSON}
