MONGO_INITDB_DATABASE=${INVENTORY_MONGO_DATABASE}
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_USER}
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_PASSWORD}
GRPC_PORT=${INVENTORY_GRPC_PORT}
LOGGER_LEVEL=${LOGGER_LEVEL}
LOGGER_AS_JSON=${LOGGER_AS_JSON}
