POSTGRES_NAME=${ORDER_POSTGRES_DATABASE}
POSTGRES_USER=${ORDER_POSTGRES_USER}
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}
GRPC_PORT=${ORDER_GRPC_PORT}
HTTP_PORT=${ORDER_HTTP_PORT}
LOGGER_LEVEL=${LOGGER_LEVEL}
LOGGER_AS_JSON=${LOGGER_AS_JSON}
KAFKA_BROKERS=kafka:9092
ORDER_PAID_TOPIC=order.paid
SHIP_ASSEMBLED_TOPIC=ship.assembled
SHIP_ASSEMBLED_GROUP_ID=order-service
OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4317
